<div
	style="
		max-width: 700px;
		padding: 20px;
		border-radius: 5px;
		margin: 40px auto;
		font-family: Open Sans, Helvetica, Arial;
		color: #ffffff;
	"
>
	<div
		style="
			text-align: center;
			background: #ffffff;
			font-weight: 600;
			font-size: 26px;
			padding: 30px 30px 30px 30px;
			color: #1355ff;
		"
	>
		Welcome to UK Visa Jobs
	</div>
	<div
		style="
			background: #fff;
			font-size: 18px;
			text-align: left;
			line-height: 40px;
			color: #000000;
			padding: 30px 25px;
		"
	>
		<div>Hello,</div>
		<div style="padding-top: 30px"></div>
		<div>
			Thanks for registering on UK Visa Jobs, the UK’s largest visa-sponsored
			jobs application platform. In order to complete registration, please
			verify your Email by clicking the link below:
		</div>
		<div>
			It is also important to mark this email address safe, as we will send out
			communications via <strong>no.reply@ukvisajobs.com</strong>.
		</div>
		<div style="padding: 40px 0 40px 0; text-align: center">
			<a
				style="
					background: #1355ff;
					color: #fff;
					padding: 12px 30px;
					text-decoration: none;
					border-radius: 3px;
					letter-spacing: 0.3px;
				"
			>
				<!-- 6 digit Verify Email Code will be here e.g  -->
				754892
			</a>
		</div>

		<div style="padding: 0px">
			If you have any questions, please contact us at
			<a
				style="color: #3ba1da; text-decoration: none"
				href="mailto:support@ukvisajobs.com"
				target="_blank"
				rel="noopener"
				>support@ukvisajobs.com</a
			>
		</div>
		.......
		<div>Have a nice day!</div>
		........
		<div>Kind Regards <br />UkVisaJobs Team</div>
		.........
		<div>Need a table here. screenshot attached.</div>
		.........
		<div style="padding: 40px 0 40px 0; text-align: center">
			<a
				style="
					background: #1355ff;
					color: #fff;
					padding: 12px 30px;
					text-decoration: none;
					border-radius: 3px;
					letter-spacing: 0.3px;
				"
				href="{verify_email_address_link}"
				>Reset password Link Will be here</a
			>
		</div>
	</div>
	<div style="background: #1355ff; color: #fff; padding: 20px 30px">
		<div>UK Visa Jobs (logo)</div>
		<div>
			Social media logos with links (including Twitter, Facebook and LinkedIn
		</div>
	</div>
</div>
